[*.cs]
# IDE1006: Стили именования
dotnet_diagnostic.IDE1006.severity = silent

# CA1305: Укажите IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# CA1806: Не игнорируйте результаты метода
dotnet_diagnostic.CA1806.severity = none

# CA1054: Параметры URI не должны быть строками
dotnet_diagnostic.CA1054.severity = none

# CA1304: Укажите CultureInfo
dotnet_diagnostic.CA1304.severity = none

# CA1031: Не перехватывать исключения общих типов
dotnet_diagnostic.CA1031.severity = none

# CA1051: Не объявляйте видимые поля экземпляров
dotnet_diagnostic.CA1051.severity = none

# CA1303: Не передавать литералы в качестве локализованных параметров
dotnet_diagnostic.CA1303.severity = silent

# CA1307: Укажите StringComparison
dotnet_diagnostic.CA1307.severity = silent

# CA2000: Ликвидировать объекты перед потерей области
dotnet_diagnostic.CA2000.severity = silent

# CA1707: Идентификаторы не должны содержать символы подчеркивания
dotnet_diagnostic.CA1707.severity = silent

# CA2007: Попробуйте вызвать ConfigureAwait для ожидаемой задачи
dotnet_diagnostic.CA2007.severity = silent

# CA1063: Правильно реализуйте IDisposable
dotnet_diagnostic.CA1063.severity = silent

# CA1812: Data4play является внутренним классом, экземпляр которого никогда не создается. Если это так, удалите код из сборки. Если этот класс должен содержать только статические методы, сделайте его статическим (Shared в Visual Basic).
dotnet_diagnostic.CA1812.severity = silent

# CA1822: Член AssemblyDescription не обращается к данным экземпляров, поэтому его можно пометить как статический (Shared в Visual Basic).
dotnet_diagnostic.CA1822.severity = silent

# CA2213: "FormList" содержит поле "timer", которое имеет тип IDisposable "CountDownTimer", но никогда не удаляется. Измените метод Dispose для "FormList" на вызов Close или Dispose для этого поля.
dotnet_diagnostic.CA2213.severity = silent

# AD0001: Сбой анализатора
dotnet_diagnostic.AD0001.severity = silent
